.calculator__interface-advanced {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
    gap: 20px;

    &__column {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    &__block {
        display: flex;
        gap: 5px;
    }

    &-min-price {
        position: relative;
        display: flex;
        align-items: center;
        gap: 14px;
        padding: 15px 10px;
        border-radius: 20px;
        background: #101010;

        &-title {
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 100%;
            color: #969696;
            text-align: center;
            font-size: 14px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-bottom: 6px;
            transform: translateX(-50%);
        }

        &-minus {
            padding: 8px 16px;
            border-radius: 20px;
            background: #3c3c3c;
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &-value {
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &-plus {
            padding: 8px 14px;
            border-radius: 20px;
            background: #3c3c3c;
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
    &-max-price {
        position: relative;
        display: flex;
        align-items: center;
        gap: 14px;
        padding: 15px 10px;
        border-radius: 20px;
        background: #101010;

        &-title {
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 100%;
            color: #969696;
            text-align: center;
            font-size: 14px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-bottom: 6px;
            transform: translateX(-50%);
        }

        &-minus {
            padding: 8px 16px;
            border-radius: 20px;
            background: #3c3c3c;
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &-value {
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &-plus {
            padding: 8px 14px;
            border-radius: 20px;
            background: #3c3c3c;
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    &-lvl-first {
        background: linear-gradient(-12deg, #101010, transparent);
        padding-bottom: 10px;

        border-radius: 15px;
        &-img {
            width: 100%;
        }

        &-text {
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    &-lvl-last {
        background: linear-gradient(-12deg, #101010, transparent);
        padding-bottom: 10px;

        border-radius: 15px;
        &-img {
            width: 100%;
        }

        &-text {
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    &-region {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #101010;
        border-radius: 20px;
        padding: 15px 36px;
        width: 50%;

        &-text {
            color: #969696;
            text-align: center;
            font-size: 12px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.12px;
        }

        &-value {
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            cursor: pointer;
        }
    }

    &-scorematch {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(50% - 10px);

        &-title {
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 100%;
            color: #969696;
            text-align: center;
            font-size: 14px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-bottom: 6px;
            transform: translateX(-50%);
        }

        &-block {
            display: flex;
            align-items: center;
            background: #101010;
            gap: 20px;
            padding: 8px 20px;
            border-radius: 20px;
        }

        &-input {
            appearance: none;
            width: 100%;
            height: 4px;
            background: #3c3c3c;
            border-radius: 5px;
            position: relative;

            &::-webkit-slider-thumb {
                position: sticky;
                appearance: none;
                width: 20px;
                height: 20px;
                cursor: pointer;
                border-radius: 50%;
                background: #ffffff;
                z-index: 1;
            }

            &::before {
                position: absolute;
                content: "1";
                top: calc(100% + 7px);
                left: 0;
                color: #fff;
                text-align: center;
                font-size: 14px;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.7px;
            }
            &::after {
                position: absolute;
                content: "10";
                top: calc(100% + 7px);
                right: 0;
                color: #fff;
                text-align: center;
                font-size: 14px;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.7px;
            }
        }

        &-current {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            border-radius: 20px;
            background: #ffc700;

            color: #101010;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    &-select-lvl {
        position: relative;
        width: calc(50% - 10px);
        background: #101010;
        display: flex;
        gap: 20px;
        padding: 15px 36px;
        border-radius: 20px;

        &:hover &-show {
            opacity: 1;
            pointer-events: all;
        }

        &-show {
            opacity: 0;
            pointer-events: none;
            overflow: hidden;
            border-radius: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            background: #101010;
            transition: opacity 250ms linear;
            // &.active {
            //     opacity: 1;
            //     pointer-events: all;
            // }

            & .calculator__interface-advanced-select-lvl-button {
                padding: 15px 36px;

                transition: background 250ms linear;
                &:hover {
                    background: #181818;
                }
            }
        }

        &-title {
            color: #969696;
            text-align: center;
            font-size: 12px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.12px;
        }

        &-button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            cursor: pointer;

            &-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
            }
        }
    }

    &-server {
        position: relative;
        width: calc(50% - 10px);
        background: #101010;
        gap: 20px;
        padding: 15px 36px;
        border-radius: 20px;

        &:hover &-show {
            opacity: 1;
            pointer-events: all;
        }

        &-show {
            opacity: 0;
            pointer-events: none;
            overflow: hidden;
            border-radius: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            background: #101010;
            transition: opacity 250ms linear;
            // &.active {
            //     opacity: 1;
            //     pointer-events: all;
            // }

            & .calculator__interface-advanced-server-button {
                padding: 15px 36px;

                transition: background 250ms linear;
                &:hover {
                    background: #181818;
                }
            }
        }

        &-title {
            color: #969696;
            text-align: center;
            font-size: 12px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.12px;
        }

        &-button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            cursor: pointer;

            &-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
            }
        }
    }
}
