<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="accept-order">
      <h2 class="accept-order-title">Підтвердження Замовлення</h2>

      <div class="accept-order-block">
        <div class="accept-order-products">
          <ul class="accept-order-products-list">
            <li class="accept-order-products-item">
              <p class="accept-order-products-item-title">Буст ММР</p>
              <p class="accept-order-products-item-price">1599 ₴</p>
            </li>
            <li class="accept-order-products-item">
              <p class="accept-order-products-item-title">Офф Тайм</p>
              <p class="accept-order-products-item-price">200 ₴</p>
            </li>
          </ul>

          <div class="accept-order-products-price">
            <div class="accept-order-products-price-info">
              <p class="accept-order-products-price-info-prom">Промокод 20%</p>
              <p class="accept-order-products-price-info-sum">-280 ₴</p>
            </div>
            <p class="accept-order-products-price-sum">Сума 1219 ₴</p>
          </div>
        </div>

        <div class="accept-order-wrapper">
          <form class="accept-order-form">
            <label class="accept-order-form-account">
              <p class="accept-order-form-account-label">Ваш Аккаунт</p>
              <div class="accept-order-form-account-label-block">
                <img
                  class="accept-order-form-account-label-avatar"
                  alt="avatar"
                  src="../images/avatar.jpg"
                />
                <p class="accept-order-form-account-label-name">Marakesh</p>

                <button class="accept-order-form-account-label-out">
                  <img
                    class="accept-order-form-account-label-out-icon"
                    src="../images/icons/out-profile.svg"
                  />
                </button>
              </div>
            </label>

            <div class="accept-order-form-submit">
              <div class="accept-order-form-submit-agree">
                <div class="accept-order-form-submit-agree-checkbox">
                  <img
                    class="accept-order-form-submit-agree-checkbox-img"
                    src="../images/icons/accept-order-icon.svg"
                  />
                </div>
                <p class="accept-order-form-submit-agree-text">
                  Я ознайомлений та згоден з
                  <a class="accept-order-form-submit-agree-link">
                    публічної оферти</a
                  >
                  та
                  <a class="accept-order-form-submit-agree-link"
                    >політикою конфіденційності</a
                  >
                </p>
              </div>
              <button class="accept-order-form-submit-button">Сплатити</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
