<div class="calculator__interface">
  <div class="calculator__interface-advanced">
    <div class="calculator__interface-advanced-lvl-first">
      <img
        class="calculator__interface-advanced-lvl-first-img"
        src="./images/lvl-first.png"
      />
      <p class="calculator__interface-advanced-lvl-first-text">
        Божественний IV
      </p>
    </div>

    <div class="calculator__interface-advanced__column">
      <div class="calculator__interface-advanced__block">
        <div class="calculator__interface-advanced-select-lvl">
          <button class="calculator__interface-advanced-select-lvl-button">
            <div class="calculator__interface-advanced-select-lvl-button-text">
              Божественний IV
            </div>
            <img
              class="calculator__interface-advanced-select-lvl-button-icon"
              src="./images/icons/arrow.svg"
            />
          </button>

          <div class="calculator__interface-advanced-select-lvl-show">
            <button class="calculator__interface-advanced-select-lvl-button">
              <div
                class="calculator__interface-advanced-select-lvl-button-text"
              >
                Божественний IV
              </div>
              <img
                class="calculator__interface-advanced-select-lvl-button-icon"
                src="./images/icons/arrow.svg"
              />
            </button>
            <button class="calculator__interface-advanced-select-lvl-button">
              Божественний IV
            </button>
            <button class="calculator__interface-advanced-select-lvl-button">
              Божественний IV
            </button>
          </div>
        </div>

        <div class="calculator__interface-advanced-min-price">
          <p class="calculator__interface-advanced-min-price-title">
            Початкова Оцінка
          </p>
          <button class="calculator__interface-advanced-min-price-minus">
            -
          </button>

          <p class="calculator__interface-advanced-min-price-value">5365</p>

          <button class="calculator__interface-advanced-min-price-plus">
            +
          </button>
        </div>

        <div class="calculator__interface-advanced-scorematch">
          <p class="calculator__interface-advanced-scorematch-title">
            Кількість Матчів
          </p>
          <div class="calculator__interface-advanced-scorematch-block">
            <input
              type="range"
              min="1"
              max="10"
              step="1"
              value="7"
              class="calculator__interface-advanced-scorematch-input"
            />
          </div>
        </div>

        <div class="calculator__interface-advanced-max-price">
          <p class="calculator__interface-advanced-max-price-title">
            Кінцева Оцінка
          </p>
          <button class="calculator__interface-advanced-max-price-minus">
            -
          </button>

          <p class="calculator__interface-advanced-max-price-value">8000</p>

          <button class="calculator__interface-advanced-max-price-plus">
            +
          </button>
        </div>
      </div>

      <div class="calculator__interface-advanced__block">
        <div class="calculator__interface-advanced-region">
          <p class="calculator__interface-advanced-region-text">Сервер</p>
          <p class="calculator__interface-advanced-region-value">Europa</p>
        </div>

        <div class="calculator__interface-advanced-server">
          <button class="calculator__interface-advanced-server-button">
            <div class="calculator__interface-advanced-server-button-text">
              <p class="calculator__interface-advanced-server-title">Послуга</p>
              Підвищення Оцінки Поведінки
            </div>
            <img
              class="calculator__interface-advanced-server-button-icon"
              src="./images/icons/arrow.svg"
            />
          </button>

          <div class="calculator__interface-advanced-server-show">
            <button class="calculator__interface-advanced-server-button">
              <div class="calculator__interface-advanced-server-button-text">
                <p class="calculator__interface-advanced-server-title">
                  Послуга
                </p>
                Підвищення Оцінки Поведінки
              </div>
              <img
                class="calculator__interface-advanced-server-button-icon"
                src="./images/icons/arrow.svg"
              />
            </button>
            <button class="calculator__interface-advanced-server-button">
              MMR Буст
            </button>
            <button class="calculator__interface-advanced-server-button">
              Калібровка
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="calculator__interface-categories">
    <ul class="calculator__interface-categories-select">
      <li class="calculator__interface-categories-select-item">
        <button class="calculator__interface-categories-select-button">
          <div class="calculator__interface-categories-select-button-block">
            <div
              class="calculator__interface-categories-select-button-selected"
            >
              <img
                class="calculator__interface-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p class="calculator__interface-categories-select-button-text">
              Грати з Бустером
            </p>
          </div>
          <p class="calculator__interface-categories-select-button-percent">
            +20%
          </p>
        </button>
      </li>
      <li class="calculator__interface-categories-select-item">
        <button class="calculator__interface-categories-select-button">
          <div class="calculator__interface-categories-select-button-block">
            <div
              class="calculator__interface-categories-select-button-selected"
            >
              <img
                class="calculator__interface-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p class="calculator__interface-categories-select-button-text">
              Грати з Бустером
            </p>
          </div>
          <p class="calculator__interface-categories-select-button-percent">
            +20%
          </p>
        </button>
      </li>
      <li class="calculator__interface-categories-select-item">
        <button class="calculator__interface-categories-select-button">
          <div class="calculator__interface-categories-select-button-block">
            <div
              class="calculator__interface-categories-select-button-selected"
            >
              <img
                class="calculator__interface-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p class="calculator__interface-categories-select-button-text">
              Грати з Бустером
            </p>
          </div>
          <p class="calculator__interface-categories-select-button-percent">
            +20%
          </p>
        </button>
      </li>
      <li class="calculator__interface-categories-select-item">
        <button class="calculator__interface-categories-select-button">
          <div class="calculator__interface-categories-select-button-block">
            <div
              class="calculator__interface-categories-select-button-selected"
            >
              <img
                class="calculator__interface-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p class="calculator__interface-categories-select-button-text">
              Грати з Бустером
            </p>
          </div>
          <p class="calculator__interface-categories-select-button-percent">
            +20%
          </p>
        </button>
      </li>
    </ul>
  </div>

  <div class="calculator__interface-success">
    <div class="calculator__interface-success-bonus">
      <input
        class="calculator__interface-success-bonus-input"
        placeholder="Введіть Промокод"
      />
      <button class="calculator__interface-success-bonus-button">
        <img
          class="calculator__interface-success-bonus-button-icon"
          alt="arrow"
          src="./images/icons/arrow-black.svg"
        />
      </button>
    </div>
    <button class="calculator__interface-success-payment">Всього 1219 ₴</button>
  </div>
</div>
