<div class="calculator__interface-elevated">
  <div class="calculator__interface-elevated-advanced">
    <div class="calculator__interface-elevated-advanced-lvl-first">
      <img
        class="calculator__interface-elevated-advanced-lvl-first-img"
        src="./images/lvl-first.png"
      />
      <p class="calculator__interface-elevated-advanced-lvl-first-text">
        Божественний IV
      </p>
    </div>

    <div class="calculator__interface-elevated-advanced__column">
      <div class="calculator__interface-elevated-advanced__block">
        <div class="calculator__interface-elevated-advanced-select-lvl">
          <button
            class="calculator__interface-elevated-advanced-select-lvl-button"
          >
            <div
              class="calculator__interface-elevated-advanced-select-lvl-button-text"
            >
              Божественний IV
            </div>
            <img
              class="calculator__interface-elevated-advanced-select-lvl-button-icon"
              src="./images/icons/arrow.svg"
            />
          </button>

          <div class="calculator__interface-elevated-advanced-select-lvl-show">
            <button
              class="calculator__interface-elevated-advanced-select-lvl-button"
            >
              <div
                class="calculator__interface-elevated-advanced-select-lvl-button-text"
              >
                Божественний IV
              </div>
              <img
                class="calculator__interface-elevated-advanced-select-lvl-button-icon"
                src="./images/icons/arrow.svg"
              />
            </button>
            <button
              class="calculator__interface-elevated-advanced-select-lvl-button"
            >
              Божественний IV
            </button>
            <button
              class="calculator__interface-elevated-advanced-select-lvl-button"
            >
              Божественний IV
            </button>
          </div>
        </div>

        <div class="calculator__interface-elevated-advanced-min-price">
          <p class="calculator__interface-elevated-advanced-min-price-title">
            Початкова Оцінка
          </p>
          <button
            class="calculator__interface-elevated-advanced-min-price-minus"
          >
            -
          </button>

          <p class="calculator__interface-elevated-advanced-min-price-value">
            5365
          </p>

          <button
            class="calculator__interface-elevated-advanced-min-price-plus"
          >
            +
          </button>
        </div>

        <div class="calculator__interface-elevated-advanced-scorematch">
          <p class="calculator__interface-elevated-advanced-scorematch-title">
            Кількість Матчів
          </p>
          <div class="calculator__interface-elevated-advanced-scorematch-block">
            <input
              type="range"
              min="1"
              max="10"
              step="1"
              value="7"
              class="calculator__interface-elevated-advanced-scorematch-input"
            />
          </div>
        </div>

        <div class="calculator__interface-elevated-advanced-max-price">
          <p class="calculator__interface-elevated-advanced-max-price-title">
            Кінцева Оцінка
          </p>
          <button
            class="calculator__interface-elevated-advanced-max-price-minus"
          >
            -
          </button>

          <p class="calculator__interface-elevated-advanced-max-price-value">
            8000
          </p>

          <button
            class="calculator__interface-elevated-advanced-max-price-plus"
          >
            +
          </button>
        </div>
      </div>

      <div class="calculator__interface-elevated-advanced__block">
        <div class="calculator__interface-elevated-advanced-region">
          <p class="calculator__interface-elevated-advanced-region-text">
            Сервер
          </p>
          <p class="calculator__interface-elevated-advanced-region-value">
            Europa
          </p>
        </div>

        <div class="calculator__interface-elevated-advanced-server">
          <button class="calculator__interface-elevated-advanced-server-button">
            <div
              class="calculator__interface-elevated-advanced-server-button-text"
            >
              <p class="calculator__interface-elevated-advanced-server-title">
                Послуга
              </p>
              Підвищення Оцінки Поведінки
            </div>
            <img
              class="calculator__interface-elevated-advanced-server-button-icon"
              src="./images/icons/arrow.svg"
            />
          </button>

          <div class="calculator__interface-elevated-advanced-server-show">
            <button
              class="calculator__interface-elevated-advanced-server-button"
            >
              <div
                class="calculator__interface-elevated-advanced-server-button-text"
              >
                <p class="calculator__interface-elevated-advanced-server-title">
                  Послуга
                </p>
                Підвищення Оцінки Поведінки
              </div>
              <img
                class="calculator__interface-elevated-advanced-server-button-icon"
                src="./images/icons/arrow.svg"
              />
            </button>
            <button
              class="calculator__interface-elevated-advanced-server-button"
            >
              MMR Буст
            </button>
            <button
              class="calculator__interface-elevated-advanced-server-button"
            >
              Калібровка
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="calculator__interface-elevated-categories">
    <ul class="calculator__interface-elevated-categories-select">
      <li class="calculator__interface-elevated-categories-select-item">
        <button class="calculator__interface-elevated-categories-select-button">
          <div
            class="calculator__interface-elevated-categories-select-button-block"
          >
            <div
              class="calculator__interface-elevated-categories-select-button-selected"
            >
              <img
                class="calculator__interface-elevated-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p
              class="calculator__interface-elevated-categories-select-button-text"
            >
              Грати з Бустером
            </p>
          </div>
          <p
            class="calculator__interface-elevated-categories-select-button-percent"
          >
            +20%
          </p>
        </button>
      </li>
      <li class="calculator__interface-elevated-categories-select-item">
        <button class="calculator__interface-elevated-categories-select-button">
          <div
            class="calculator__interface-elevated-categories-select-button-block"
          >
            <div
              class="calculator__interface-elevated-categories-select-button-selected"
            >
              <img
                class="calculator__interface-elevated-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p
              class="calculator__interface-elevated-categories-select-button-text"
            >
              Грати з Бустером
            </p>
          </div>
          <p
            class="calculator__interface-elevated-categories-select-button-percent"
          >
            +20%
          </p>
        </button>
      </li>
      <li class="calculator__interface-elevated-categories-select-item">
        <button class="calculator__interface-elevated-categories-select-button">
          <div
            class="calculator__interface-elevated-categories-select-button-block"
          >
            <div
              class="calculator__interface-elevated-categories-select-button-selected"
            >
              <img
                class="calculator__interface-elevated-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p
              class="calculator__interface-elevated-categories-select-button-text"
            >
              Грати з Бустером
            </p>
          </div>
          <p
            class="calculator__interface-elevated-categories-select-button-percent"
          >
            +20%
          </p>
        </button>
      </li>
      <li class="calculator__interface-elevated-categories-select-item">
        <button class="calculator__interface-elevated-categories-select-button">
          <div
            class="calculator__interface-elevated-categories-select-button-block"
          >
            <div
              class="calculator__interface-elevated-categories-select-button-selected"
            >
              <img
                class="calculator__interface-elevated-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p
              class="calculator__interface-elevated-categories-select-button-text"
            >
              Грати з Бустером
            </p>
          </div>
          <p
            class="calculator__interface-elevated-categories-select-button-percent"
          >
            +20%
          </p>
        </button>
      </li>
    </ul>
  </div>

  <div class="calculator__interface-elevated-success">
    <div class="calculator__interface-elevated-success-bonus">
      <input
        class="calculator__interface-elevated-success-bonus-input"
        placeholder="Введіть Промокод"
      />
      <button class="calculator__interface-elevated-success-bonus-button">
        <img
          class="calculator__interface-elevated-success-bonus-button-icon"
          alt="arrow"
          src="./images/icons/arrow-black.svg"
        />
      </button>
    </div>
    <button class="calculator__interface-elevated-success-payment">
      <div class="calculator__interface-elevated-success-payment-value">
        Сума 1219 ₴
      </div>
      <div class="calculator__interface-elevated-success-payment-text">
        Оформити Замовлення
      </div>
    </button>
  </div>
</div>
