<div class="calculator__interface-boost">
  <div class="calculator__interface-boost-advanced">
    <div class="calculator__interface-boost-advanced-flex">
      <div class="calculator__interface-boost-advanced-lvl-first">
        <img
          class="calculator__interface-boost-advanced-lvl-first-img"
          src="./images/lvl-first.png"
        />
        <p class="calculator__interface-boost-advanced-lvl-first-text">
          Божественний IV
        </p>
      </div>
      <div class="calculator__interface-boost-advanced-min-price">
        <p class="calculator__interface-boost-advanced-min-price-title">
          Початкова Оцінка
        </p>
        <button class="calculator__interface-boost-advanced-min-price-minus">
          -
        </button>

        <p class="calculator__interface-boost-advanced-min-price-value">5365</p>

        <button class="calculator__interface-boost-advanced-min-price-plus">
          +
        </button>
      </div>
    </div>

    <div class="calculator__interface-boost-advanced__column">
      <div
        class="calculator__interface-boost-advanced__block"
        style="justify-content: space-between"
      >
        <div class="calculator__interface-boost-advanced-scorematch">
          <div class="calculator__interface-boost-advanced-scorematch-block">
            <div class="range-slider">
              <span class="rangeValues-min"></span>
              <input value="5365" min="1" max="7500" step="1" type="range" />
              <input value="7200" min="1" max="7500" step="1" type="range" />
              <span class="rangeValues-max"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="calculator__interface-boost-advanced__block">
        <div class="calculator__interface-boost-advanced-region">
          <p class="calculator__interface-boost-advanced-region-text">Сервер</p>
          <p class="calculator__interface-boost-advanced-region-value">
            Europa
          </p>
        </div>

        <div class="calculator__interface-boost-advanced-server">
          <button class="calculator__interface-boost-advanced-server-button">
            <div
              class="calculator__interface-boost-advanced-server-button-text"
            >
              <p class="calculator__interface-boost-advanced-server-title">
                Послуга
              </p>
              MMR Буст
            </div>
            <img
              class="calculator__interface-boost-advanced-server-button-icon"
              src="./images/icons/arrow.svg"
            />
          </button>

          <div class="calculator__interface-boost-advanced-server-show">
            <button class="calculator__interface-boost-advanced-server-button">
              <div
                class="calculator__interface-boost-advanced-server-button-text"
              >
                <p class="calculator__interface-boost-advanced-server-title">
                  Послуга
                </p>
                MMR Буст
              </div>
              <img
                class="calculator__interface-boost-advanced-server-button-icon"
                src="./images/icons/arrow.svg"
              />
            </button>
            <button class="calculator__interface-boost-advanced-server-button">
              MMR Буст
            </button>
            <button class="calculator__interface-boost-advanced-server-button">
              Калібровка
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="calculator__interface-boost-advanced-flex">
      <div class="calculator__interface-boost-advanced-lvl-last">
        <img
          class="calculator__interface-boost-advanced-lvl-last-img"
          src="./images/lvl-first.png"
        />
        <p class="calculator__interface-boost-advanced-lvl-last-text">
          Божественний IV
        </p>
      </div>
      <div class="calculator__interface-boost-advanced-max-price">
        <p class="calculator__interface-boost-advanced-max-price-title">
          Кінцева Оцінка
        </p>
        <button class="calculator__interface-boost-advanced-max-price-minus">
          -
        </button>

        <p class="calculator__interface-boost-advanced-max-price-value">7200</p>

        <button class="calculator__interface-boost-advanced-max-price-plus">
          +
        </button>
      </div>
    </div>
  </div>

  <div class="calculator__interface-boost-categories">
    <ul class="calculator__interface-boost-categories-select">
      <li class="calculator__interface-boost-categories-select-item">
        <button class="calculator__interface-boost-categories-select-button">
          <div
            class="calculator__interface-boost-categories-select-button-block"
          >
            <div
              class="calculator__interface-boost-categories-select-button-selected"
            >
              <img
                class="calculator__interface-boost-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p
              class="calculator__interface-boost-categories-select-button-text"
            >
              Грати з Бустером
              <img
                class="calculator__interface-boost-categories-select-button-text-info"
                src="./images/icons/info.svg"
                alt="info"
              />
            </p>
            <div
              class="calculator__interface-boost-categories-select-button-text-info-hidden"
            >
              <p
                class="calculator__interface-boost-categories-select-button-text-info-hidden-title"
              >
                <img
                  class="calculator__interface-boost-categories-select-button-text-info-hidden-title-icon"
                  alt="info-title"
                  src="./images/icons/info_600.svg"
                />
                Особистий Кабінет
              </p>
              <p
                class="calculator__interface-boost-categories-select-button-text-info-hidden-desc"
              >
                Вам буде створенний особистий кабінет у автоматичному режимі, в
                якому ви зможете контролювати процесс виконання вашого
                замовлення. Якщо ви вже маєте особистий кабінет, виконайте Вхід.
              </p>
            </div>
          </div>
          <p
            class="calculator__interface-boost-categories-select-button-percent"
          >
            +20%
          </p>
        </button>
      </li>
      <li class="calculator__interface-boost-categories-select-item">
        <button class="calculator__interface-boost-categories-select-button">
          <div
            class="calculator__interface-boost-categories-select-button-block"
          >
            <div
              class="calculator__interface-boost-categories-select-button-selected"
            >
              <img
                class="calculator__interface-boost-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p
              class="calculator__interface-boost-categories-select-button-text"
            >
              Грати з Бустером
            </p>
          </div>
          <p
            class="calculator__interface-boost-categories-select-button-percent"
          >
            +20%
          </p>
        </button>
      </li>
      <li class="calculator__interface-boost-categories-select-item">
        <button class="calculator__interface-boost-categories-select-button">
          <div
            class="calculator__interface-boost-categories-select-button-block"
          >
            <div
              class="calculator__interface-boost-categories-select-button-selected"
            >
              <img
                class="calculator__interface-boost-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p
              class="calculator__interface-boost-categories-select-button-text"
            >
              Грати з Бустером
            </p>
          </div>
          <p
            class="calculator__interface-boost-categories-select-button-percent"
          >
            +20%
          </p>
        </button>
      </li>
      <li class="calculator__interface-boost-categories-select-item">
        <button class="calculator__interface-boost-categories-select-button">
          <div
            class="calculator__interface-boost-categories-select-button-block"
          >
            <div
              class="calculator__interface-boost-categories-select-button-selected"
            >
              <img
                class="calculator__interface-boost-categories-select-button-selected-icon"
                src="./images/icons/checkbox.svg"
                alt="checkbox"
              />
            </div>
            <p
              class="calculator__interface-boost-categories-select-button-text"
            >
              Грати з Бустером
            </p>
          </div>
          <p
            class="calculator__interface-boost-categories-select-button-percent"
          >
            +20%
          </p>
        </button>
      </li>
    </ul>
  </div>

  <div class="calculator__interface-boost-success">
    <div class="calculator__interface-boost-success-bonus">
      <input
        class="calculator__interface-boost-success-bonus-input"
        placeholder="Введіть Промокод"
      />
      <button class="calculator__interface-boost-success-bonus-button">
        <img
          class="calculator__interface-boost-success-bonus-button-icon"
          alt="arrow"
          src="./images/icons/arrow-black.svg"
        />
      </button>
    </div>
    <button class="calculator__interface-boost-success-payment">
      <div class="calculator__interface-boost-success-payment-value">
        Сума 1219 ₴
      </div>
      <div class="calculator__interface-boost-success-payment-text">
        Оформити Замовлення
      </div>
    </button>
  </div>
</div>
