<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="create-review">
      <div class="create-review-block">
        <div class="create-review-head">
          <div class="create-review-head-number">
            <div class="create-review-head-number-decor">№</div>
            <p class="create-review-head-number-text">3213211123</p>
          </div>
          <div class="create-review-head-date">
            <div class="create-review-head-date-decor">
              <img
                class="create-review-head-date-decor-icon"
                src="../images/icons/calendar_today.svg"
              />
            </div>
            <p class="create-review-head-date-text">26.04.2023</p>
          </div>

          <button class="create-review-head-close">
            <img
              class="create-review-head-close-icon"
              src="../images/icons/close.svg"
            />
          </button>
        </div>

        <div class="create-review-content">
          <h2 class="create-review-content-title">Залишити Відгук</h2>
          <p class="create-review-content-desc">
            Тут ви можете описати ваш досвід співпраці з нами
          </p>

          <textarea
            class="create-review-content-input"
            placeholder="Залишити Відгук"
          ></textarea>

          <div class="create-review-content-grade">
            <div class="create-review-content-grade-service">
              <p class="create-review-content-grade-service-title">
                Наш Сервіс
              </p>
              <div class="create-review-content-grade-service-stars">
                <img
                  class="create-review-content-grade-service-stars-icon"
                  src="../images/icons/star.svg"
                />
                <img
                  class="create-review-content-grade-service-stars-icon"
                  src="../images/icons/star.svg"
                />
                <img
                  class="create-review-content-grade-service-stars-icon"
                  src="../images/icons/star.svg"
                />
                <img
                  class="create-review-content-grade-service-stars-icon"
                  src="../images/icons/star.svg"
                />
                <img
                  class="create-review-content-grade-service-stars-icon"
                  src="../images/icons/star.svg"
                />
              </div>
            </div>
            <div class="create-review-content-grade-booster">
              <p class="create-review-content-grade-booster-title">
                Оцінка Бустеру
              </p>
              <div class="create-review-content-grade-booster-stars">
                <img
                  class="create-review-content-grade-booster-stars-icon"
                  src="../images/icons/star.svg"
                />
                <img
                  class="create-review-content-grade-booster-stars-icon"
                  src="../images/icons/star.svg"
                />
                <img
                  class="create-review-content-grade-booster-stars-icon"
                  src="../images/icons/star.svg"
                />
                <img
                  class="create-review-content-grade-booster-stars-icon"
                  src="../images/icons/star.svg"
                />
                <img
                  class="create-review-content-grade-booster-stars-icon"
                  src="../images/icons/star.svg"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="create-review-submit">
          <label class="create-review-submit-accept">
            <input
              class="create-review-submit-accept-checkbox"
              type="checkbox"
            />
            <p class="create-review-submit-accept-text">
              Не зв’язуватись зі мною стосовно питань користувацького досвіду та
              для покращення нашого сервісу
            </p>
          </label>

          <button class="create-review-submit-button">Відправити Відгук</button>
        </div>
      </div>
    </div>
  </body>
</html>
