<header class="header">
  <div class="first-container">
    <div class="header-block">
      <nav class="header-navigation">
        <div class="header-navigation__logo">
          <a href="/" class="header-navigation__logo-link">
            <img
              class="header-navigation__logo-link-icon"
              src="./images/icons/logo-2.svg"
              alt="logo"
            />
          </a>
        </div>
        <ul class="header-navigation__menu">
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> DotaBoost </a>
          </li>
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> Послуги </a>
          </li>
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> Про нас </a>
          </li>
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> Робота </a>
          </li>
          <li class="header-navigation__menu-item">
            <a to="./blog.html" class="header-navigation__menu-link"> Блог </a>
          </li>
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> FAQ </a>
          </li>
        </ul>

        <div class="header-navigation__profile">
          <div class="header-navigation__profile-info">
            <div class="header-navigation__profile-info-block">
              <img
                class="header-navigation__profile-info-image"
                alt="profile"
                src="./images/profile-image.png"
              />
              <p class="header-navigation__profile-info-name">Marakesh</p>
              <button class="header-navigation__profile-info-notification">
                <img
                  class="header-navigation__profile-info-notification-icon"
                  alt="profile-icon"
                  src="./images/icons/notifications.svg"
                />
              </button>
            </div>

            <div class="header-navigation__profile-menu-block">
              <div class="header-navigation__profile-menu">
                <button class="header-navigation__profile-menu-button">
                  <img
                    class="header-navigation__profile-menu-button-icon"
                    src="./images/icons/account.svg"
                    alt="icon-menu"
                  />
                  Профіль
                </button>
                <button class="header-navigation__profile-menu-button">
                  <img
                    class="header-navigation__profile-menu-button-icon"
                    src="./images/icons/settings-profile.svg"
                    alt="icon-menu"
                  />
                  Налаштування
                </button>
                <button class="header-navigation__profile-menu-button">
                  <img
                    class="header-navigation__profile-menu-button-icon"
                    src="./images/icons/out-profile.svg"
                    alt="icon-menu"
                  />
                  Вихід
                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
