<header class="header">
  <div class="first-container">
    <div class="header-block">
      <nav class="header-navigation">
        <div class="header-navigation__logo">
          <a href="/" class="header-navigation__logo-link">
            <img
              class="header-navigation__logo-link-icon"
              src="./images/icons/logo.svg"
              alt="logo"
            />
          </a>

          <div class="header-navigation__logo-game">
            <button class="header-navigation__logo-game-react">
              <img
                class="header-navigation__logo-game-react-decor"
                src="./images/icons/dota2.svg"
                alt="dota2"
              />
              Dota 2
              <img
                class="header-navigation__logo-game-react-icon"
                src="./images/icons/arrow.svg"
                alt="arrow"
              />
            </button>

            <div class="header-navigation__logo-game-selected">
              <button class="header-navigation__logo-game-selected-button">
                <img
                  class="header-navigation__logo-game-react-decor"
                  src="./images/icons/dota2.svg"
                  alt="dota2"
                />
                Dota 2
              </button>
            </div>
          </div>
        </div>
        <ul class="header-navigation__menu">
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> DotaBoost </a>
          </li>
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> Послуги </a>
          </li>
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> Про нас </a>
          </li>
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> Робота </a>
          </li>
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> Блог </a>
          </li>
          <li class="header-navigation__menu-item">
            <a to="/" class="header-navigation__menu-link"> FAQ </a>
          </li>
        </ul>

        <div class="header-navigation__profile">
          <button class="header-navigation__profile-button">
            <img
              class="header-navigation__profile-button-icon"
              src="./images/icons/account.svg"
              alt="account"
            />
            Особистий кабінет
          </button>
        </div>
      </nav>
    </div>
  </div>
</header>
