<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="login active">
      <div class="login-modal">
        <div class="login-block">
          <h2 class="login-title">Вхід до особистого аккаунту</h2>
          <p class="login-desc">Виконайте вхід за допомогою наших партнерів</p>

          <div class="login-alt-auth">
            <button class="login-alt-auth-button">
              <img
                class="login-alt-auth-button-icon"
                alt="google"
                src="../images/icons/google.svg"
              />
            </button>

            <button class="login-alt-auth-button">
              <img
                class="login-alt-auth-button-icon"
                alt="google"
                src="../images/icons/steam.svg"
              />
            </button>
          </div>

          <p class="login-alternative">або</p>

          <form class="login-form">
            <label class="login-form-label">
              <p class="login-form-label-title">Електронна Пошта</p>
              <input class="login-form-label-input" placeholder="E-mail" />
            </label>
            <label class="login-form-label">
              <div class="login-form-label-block">
                <p class="login-form-label-title">Пароль</p>
                <a class="login-form-label-link">Забув Пароль?</a>
              </div>
              <input
                class="login-form-label-input"
                placeholder="Password"
                type="password"
              />
            </label>

            <label class="login-form-label-checkbox">
              <input class="login-form-label-checkbox-input" type="checkbox" />
              <p class="login-form-label-checkbox-text">Запам’ятати Мене</p>
            </label>

            <button class="login-form-submit">Вхід</button>

            <div class="login-go-register">
              <p class="login-go-register-text">Не маєш профілю ?</p>
              <a class="login-go-register-link">Перейти до реєстрації</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
