<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="notification-advance">
      <div class="notification-advance-block">
        <h2 class="notification-advance-title">Повідомлення</h2>
        <button class="notification-advance-close">
          <img
            class="notification-advance-close-icon"
            src="../images/icons/close.svg"
          />
        </button>
      </div>
      <ul class="notification-advance-list">
        <li class="notification-advance-item">
          <div class="notification-advance-item-block">
            <div class="notification-advance-item-decor green">
              <img
                class="notification-advance-item-decor-icon"
                src="../images/icons/stadia_controller.svg"
              />
            </div>

            <div class="notification-advance-item-head">
              <p class="notification-advance-item-head-title">
                Результат Матчу
              </p>
              <p class="notification-advance-item-head-number">6743294234</p>
            </div>
          </div>

          <div class="notification-advance-item-control">
            <p class="notification-advance-item-control-status">+25 MMR</p>
          </div>
        </li>
        <li class="notification-advance-item">
          <div class="notification-advance-item-block">
            <div class="notification-advance-item-decor">
              <img
                class="notification-advance-item-decor-icon"
                src="../images/icons/stadia_controller.svg"
              />
            </div>

            <div class="notification-advance-item-head">
              <p class="notification-advance-item-head-title">
                Результат Матчу
              </p>
              <p class="notification-advance-item-head-number">6743294234</p>
            </div>
          </div>

          <div class="notification-advance-item-control">
            <p class="notification-advance-item-control-status">-10 MMR</p>
          </div>
        </li>

        <p class="notification-advance-date">03.07.2023</p>

        <li class="notification-advance-item">
          <div class="notification-advance-item-block">
            <div class="notification-advance-item-decor">
              <img
                class="notification-advance-item-decor-icon"
                src="../images/icons/stadia_controller.svg"
              />
            </div>

            <div class="notification-advance-item-head">
              <p class="notification-advance-item-head-title">
                Результат Матчу
              </p>
              <p class="notification-advance-item-head-number">6743294234</p>
            </div>
          </div>

          <div class="notification-advance-item-control">
            <p class="notification-advance-item-control-status">-10 MMR</p>
          </div>
        </li>
        <li class="notification-advance-item">
          <div class="notification-advance-item-block">
            <div class="notification-advance-item-decor green">
              <img
                class="notification-advance-item-decor-icon"
                src="../images/icons/accept.svg"
              />
            </div>

            <div class="notification-advance-item-head">
              <p class="notification-advance-item-head-title">
                Замовлення в роботі!
              </p>
              <p class="notification-advance-item-head-number">№453531154</p>
            </div>
          </div>

          <!-- <div class="notification-advance-item-control">
            <p class="notification-advance-item-control-status">+25 MMR</p>
          </div> -->
        </li>
      </ul>
    </div>
  </body>
</html>
