<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="notification-simple">
      <h2 class="notification-simple-title">Повідомлення</h2>
      <ul class="notification-simple-list">
        <li class="notification-simple-item">
          <div class="notification-simple-item-block">
            <div class="notification-simple-item-decor">
              <img
                class="notification-simple-item-decor-icon"
                src="../images/icons/close.svg"
              />
            </div>

            <div class="notification-simple-item-head">
              <p class="notification-simple-item-head-title">
                Замовлення Скасовано
              </p>
              <p class="notification-simple-item-head-number">№453531154</p>
            </div>
          </div>

          <div class="notification-simple-item-control">
            <!-- <button class="notification-simple-item-control-button">
              <img
                class="notification-simple-item-control-button-icon"
                src="../images/icons/arrow.svg"
              />
            </button> -->
          </div>
        </li>
        <li class="notification-simple-item">
          <div class="notification-simple-item-block">
            <div class="notification-simple-item-decor blue">
              <img
                class="notification-simple-item-decor-icon"
                src="../images/icons/stadia_controller.svg"
              />
            </div>

            <div class="notification-simple-item-head">
              <p class="notification-simple-item-head-title">
                Бустер готовий до гри!
              </p>
              <p class="notification-simple-item-head-number">№453531154</p>
            </div>
          </div>

          <div class="notification-simple-item-control">
            <button class="notification-simple-item-control-button">
              <img
                class="notification-simple-item-control-button-icon"
                src="../images/icons/arrow.svg"
              />
            </button>
          </div>
        </li>
        <li class="notification-simple-item">
          <div class="notification-simple-item-block">
            <div class="notification-simple-item-decor green">
              <img
                class="notification-simple-item-decor-icon"
                src="../images/icons/stadia_controller.svg"
              />
            </div>

            <div class="notification-simple-item-head">
              <p class="notification-simple-item-head-title">Результат Матчу</p>
              <p class="notification-simple-item-head-number">№453531154</p>
            </div>
          </div>

          <div class="notification-simple-item-control">
            <p class="notification-simple-item-control-status">+25 MMR</p>
          </div>
        </li>
        <li class="notification-simple-item">
          <div class="notification-simple-item-block">
            <div class="notification-simple-item-decor yellow">
              <svg class="notification-simple-item-decor-icon">
                <use href="../images/icons/info-sprite.svg#info"></use>
              </svg>
            </div>

            <div class="notification-simple-item-head">
              <p class="notification-simple-item-head-title">
                Замовлення на Паузі
              </p>
              <p class="notification-simple-item-head-number">№453531154</p>
            </div>
          </div>

          <div class="notification-simple-item-control">
            <!-- <button class="notification-simple-item-control-button">
                <img
                  class="notification-simple-item-control-button-icon"
                  src="../images/icons/arrow.svg"
                />
              </button> -->
          </div>
        </li>
        <li class="notification-simple-item">
          <div class="notification-simple-item-block">
            <div class="notification-simple-item-decor green">
              <img
                class="notification-simple-item-decor-icon"
                src="../images/icons/accept.svg"
              />
            </div>

            <div class="notification-simple-item-head">
              <p class="notification-simple-item-head-title">
                Замовлення Виконано!
              </p>
              <p class="notification-simple-item-head-number">№453531154</p>
            </div>
          </div>

          <div class="notification-simple-item-control">
            <!-- <button class="notification-simple-item-control-button">
                <img
                  class="notification-simple-item-control-button-icon"
                  src="../images/icons/arrow.svg"
                />
              </button> -->
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
