<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="popup-help">
      <div class="popup-help-block">
        <div class="popup-help-content">
          <h1 class="popup-help-content-title">Потрібна Допомога ?</h1>
          <p class="popup-help-content-desc">
            Оберіть зручний спосіб комунікації з нами, та напишіть нам для
            вирішення вашого питання. Наша служба підтримки з задоволенням вас
            проконсультує.
          </p>

          <div class="popup-help-content-social">
            <button class="popup-help-content-social-chat">
              <img
                class="popup-help-content-social-chat-icon"
                src="../images/icons/chat_bubble_28px.svg"
              />
              Онлайн Чат
            </button>
            <button class="popup-help-content-social-telegram">
              <img
                class="popup-help-content-social-telegram-icon"
                src="../images/icons/telegram.svg"
              />
            </button>
            <button class="popup-help-content-social-email">
              <img
                class="popup-help-content-social-email-icon"
                src="../images/icons/mail.svg"
              />
            </button>
          </div>
        </div>
        <img class="popup-help-image" src="../images/popup-help.png" />
      </div>
      <button class="popup-help-close">
        <img class="popup-help-close-icon" src="../images/icons/close.svg" />
      </button>
    </div>
  </body>
</html>
