<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="register active">
      <div class="register-modal">
        <div class="register-block">
          <h2 class="register-title">Реєстрація особистого аккаунту</h2>
          <p class="register-desc">
            Виконайте реєстрацію за допомогою наших партнерів
          </p>

          <div class="register-alt-auth">
            <button class="register-alt-auth-button">
              <img
                class="register-alt-auth-button-icon"
                alt="google"
                src="../images/icons/google.svg"
              />
            </button>

            <button class="register-alt-auth-button">
              <img
                class="register-alt-auth-button-icon"
                alt="google"
                src="../images/icons/steam.svg"
              />
            </button>
          </div>

          <p class="register-alternative">або</p>

          <form class="register-form">
            <label class="register-form-label">
              <p class="register-form-label-title">Електронна Пошта</p>
              <input class="register-form-label-input" placeholder="E-mail" />
            </label>
            <label class="register-form-label">
              <div class="register-form-label-block">
                <p class="register-form-label-title">Пароль</p>
              </div>
              <input
                class="register-form-label-input"
                placeholder="Password"
                type="password"
              />
            </label>
            <label class="register-form-label">
              <div class="register-form-label-block">
                <p class="register-form-label-title">Повторіть пароль</p>
              </div>
              <input
                class="register-form-label-input"
                placeholder="Password"
                type="password"
              />
            </label>

            <label class="register-form-label-checkbox">
              <input
                class="register-form-label-checkbox-input"
                type="checkbox"
              />
              <p class="register-form-label-checkbox-text">
                Я ознайомився, та згоден з
                <a class="register-form-label-checkbox-link">
                  Конфіденційності</a
                >, та
                <a class="register-form-label-checkbox-link"> Користуання</a>
                нашого сервісу
              </p>
            </label>

            <button class="register-form-submit">Вхід</button>

            <div class="register-go-login">
              <p class="register-go-login-text">Вже зареєстрований ?</p>
              <a class="register-go-login-link">Перейти до авторизації.</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
