.about {
    padding-top: 120px;
    overflow: hidden;

    &-title {
        color: #fff;
        font-size: 64px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        padding: 0 109px;
        margin-bottom: 25px;
    }
}

.about-content {
    display: flex;
    align-items: flex-end;
    padding: 0px 76px;
    border-radius: 40px;
    background: #181818;

    &__block {
        padding: 120px 0;
        &-item {
            padding: 75px 0;
            &:not(:last-child) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            }

            &-title {
                color: #ffc700;
                font-size: 28px;
                font-family: Reaver;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 0.28px;
                margin-bottom: 25px;
                &-span {
                    color: white;
                }
            }

            &-description {
                color: #fff;
                font-size: 20px;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 300;
                line-height: 120%;
                letter-spacing: 0.2px;
            }
        }
    }

    &__image {
        width: 50%;

        &-img {
            margin-top: -350px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .about {
        &-content {
            &__block {
                padding: 0px;

                &-item {
                    &-title {
                        text-align: center;
                    }

                    &-description {
                        text-align: center;
                    }
                }
            }

            &__image {
                display: none;
            }
        }
    }
}
