.blog {
    padding-top: 120px;
}

.blog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 109px;
    margin-bottom: 25px;

    &-title {
        color: #fff;
        font-size: 64px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
    }

    &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 20px;
        background: #3c3c3c;
        cursor: pointer;
        transition: background 250ms linear;

        &-icon {
            transform: rotate(-90deg);
        }
    }
}

.blog-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.blog-item {
    width: calc((100% - 60px) / 3);
}

.blog-link {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:hover &-info {
        transform: translateY(-90%);
    }
    &:hover &-hidden {
        opacity: 1;
    }

    &-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);

        display: flex;
        align-items: flex-end;
    }

    &-hidden {
        position: absolute;
        opacity: 0;
        margin-left: 48px;
        max-width: 319px;
        transition: opacity 250ms linear;

        &-line {
            background: rgba(150, 150, 150, 1);
            width: calc(100% - 96px);
            height: 2px;
            margin: 0 auto;
            border-radius: 5px;
        }

        &-text {
            padding-top: 15px;
            color: rgba(255, 255, 255, 0.7);
            font-size: 14px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.7px;
        }
    }

    &-info {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        flex-direction: column;
        margin-left: 48px;
        margin-bottom: 36px;

        transition: transform 250ms linear;
    }

    &-date {
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
        font-family: Reaver;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &-title {
        color: #fff;
        text-overflow: ellipsis;
        whitespace: nowrap;
        font-size: 28px;
        font-family: Reaver;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0.28px;
        max-width: 319px;
    }
}
