.faq {
    padding: 120px 0;

    &-title {
        color: #fff;
        font-size: 64px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 25px;
        padding: 0 109px;
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &-item {
        border-radius: 20px;
        background: #181818;

        &-button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 36px 48px;

            color: #fff;
            font-size: 28px;
            font-family: Reaver;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.28px;
            cursor: pointer;

            &-icon {
                transition: transform 250ms linear;
            }
            &.active &-icon {
                transform: rotate(180deg);
            }
            &.active + .faq-item-content {
                height: 100px;
                padding-top: 36px;
                padding-bottom: 36px;
            }
        }

        &-content {
            pointer-events: none;
            padding-top: 0px;
            padding-bottom: 0px;
            padding: 0 48px;
            overflow: hidden;
            height: 0;
            transition: height 250ms linear;
            transition-property: height, padding;

            &-text {
                // height: 0;
                color: #fff;
                font-size: 20px;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 300;
                line-height: 120%;
                letter-spacing: 0.2px;

                transition: height 250ms linear;
            }
        }
    }
}
