.footer {
    background: #181818;
    padding: 64px 0;
}

.footer-content {
    display: flex;
    align-items: flex-start;

    &-flex {
        display: flex;
        gap: 120px;
        align-items: flex-start;

        margin-left: 120px;
    }

    &__settings {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        &-security {
            &-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                border-radius: 100px;
                background: #101010;
                cursor: pointer;
            }
        }
        &-award {
            &-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                border-radius: 100px;
                background: #101010;
                cursor: pointer;
            }
        }
        &-lang {
            position: relative;
            border-radius: 100px;
            background: #101010;
            transition: border-radius 250ms linear;

            &:hover {
                border-end-end-radius: 0;
                border-bottom-left-radius: 0;
                background: #101010;
            }

            &:hover &-button-selected {
                height: 150px;
            }

            &-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                cursor: pointer;

                &-selected {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    overflow: hidden;
                    height: 0;
                    border-end-end-radius: 100px;
                    border-bottom-left-radius: 100px;
                    background: #101010;
                    transition: height 250ms linear;
                    transition-delay: 250ms;
                }
            }
        }
    }

    &__company {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-title {
            color: #fff;
            font-size: 28px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.28px;
        }

        &-menu {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &-link {
            color: #969696;
            font-size: 18px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
        }
    }

    &__policy {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-title {
            color: #fff;
            font-size: 28px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.28px;
        }

        &-menu {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &-link {
            color: #969696;
            font-size: 18px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-title {
            color: #fff;
            font-size: 28px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0.28px;
        }

        &-menu {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &-link {
            color: #969696;
            font-size: 18px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
        }
    }
}

.footer-payment {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.footer-by {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 200px;
    margin-top: 66px;

    &-text {
        color: #969696;
        text-align: left;
        font-size: 12px;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.42px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .footer {
        &-content {
            &-flex {
                flex-wrap: wrap;
                margin-left: 48px;
            }
        }

        &-payment {
            margin-top: 60px;
            justify-content: center;
        }

        &-by {
            margin-top: 10px;
            padding-left: 0;
            align-items: center;

            &-text {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
    .footer {
        &-content {
            &-flex {
                flex-wrap: wrap;
                margin-left: 48px;
            }
        }

        &-payment {
            margin-top: 60px;
            justify-content: center;
        }

        &-by {
            margin-top: 10px;
            padding-left: 0;
            align-items: center;

            &-text {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .footer {
        &-content {
            &-flex {
                flex-wrap: wrap;
                margin-left: 48px;
            }
        }

        &-payment {
            margin-top: 60px;
            justify-content: center;
        }

        &-by {
            margin-top: 10px;
            padding-left: 0;
            align-items: center;

            &-text {
                text-align: center;
            }
        }
    }
}
