.work-us-hero {
    padding: 200px 0;

    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-label {
        padding: 8px 32px;
        border-radius: 20px;
        background: #181818;
        margin-bottom: 8px;

        color: #fff;
        text-align: center;

        /* Decorative/H4 */
        font-family: Reaver;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 28px */
        letter-spacing: 0.28px;
    }

    &-title {
        color: #fff;
        text-align: center;
        margin-bottom: 8px;

        font-family: Gilroy;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
    }

    &-second {
        color: #fff;
        text-align: center;

        font-family: Gilroy;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0.28px;
        margin-bottom: 32px;
    }

    &-button {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 24px 48px;
        border-radius: 20px;
        background: #ffc700;

        color: #181818;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.work-us-advantages {
    &-title {
        color: #fff;
        text-align: center;
        font-family: Gilroy;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.4px;
        margin-bottom: 32px;
    }

    &-block {
        display: flex;
        gap: 10px;
        padding: 16px 16px 32px 16px;
        border-radius: 20px;
        background: #101010;
    }

    &-you {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-content {
            display: flex;
            flex-direction: column;
            gap: 16px;
            &-block {
                border-radius: 20px;
                background: #181818;
                padding: 16px 32px;
            }

            &-image {
                margin-top: -45px;
            }

            &-value {
                color: #fff;
                text-align: center;
                font-family: Gilroy;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.4px;
            }

            &-text {
                color: #969696;
                text-align: center;
                font-family: Gilroy;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        &-decor {
            &-line {
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                width: 100%;
                height: 3px;
                background: #ffc700;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 2px;
                    height: 10px;
                    background: #ffc700;
                    border-radius: 7px;
                    transform: translateY(-50%);
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 2px;
                    height: 10px;
                    background: #ffc700;
                    border-radius: 7px;
                    transform: translateY(-50%);
                }
            }

            &-text {
                color: #ffc700;
                text-align: center;
                font-family: Gilroy;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%; /* 28px */
                letter-spacing: 0.28px;
            }
        }
    }

    &-our {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-content {
            display: flex;
            gap: 16px;
            height: 100%;

            &-block {
                display: flex;
                justify-content: center;
                flex-direction: column;
                border-radius: 20px;
                background: #181818;
                padding: 16px 32px;
            }

            &-title {
                color: #fff;
                text-align: left;
                font-family: Gilroy;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.4px;
            }

            &-text {
                color: #969696;
                text-align: left;
                font-family: Gilroy;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        &-decor {
            &-line {
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                width: 100%;
                height: 3px;
                background: #24c16c;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 2px;
                    height: 10px;
                    background: #24c16c;
                    border-radius: 7px;
                    transform: translateY(-50%);
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 2px;
                    height: 10px;
                    background: #24c16c;
                    border-radius: 7px;
                    transform: translateY(-50%);
                }
            }

            &-text {
                color: #24c16c;
                text-align: center;
                font-family: Gilroy;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%; /* 28px */
                letter-spacing: 0.28px;
            }
        }
    }
}

.work-us-order {
    padding: 50px 0;
    &-title {
        color: #fff;
        text-align: center;
        font-family: Gilroy;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 16px;
    }

    &-desc {
        color: #fff;
        text-align: center;
        font-family: Noto Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        letter-spacing: 0.2px;
        margin-bottom: 32px;
    }

    &-block {
        border-radius: 20px;
        background: #181818;
        padding: 48px;
    }
    &-form {
        display: flex;
        gap: 32px;

        &-personal {
            max-width: 342px;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 26px;
            &-label {
                &-title {
                    color: #fff;
                    font-family: Gilroy;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 10px;
                }

                &-input {
                    border-radius: 20px;
                    background: #101010;
                    padding: 16px;
                    width: 100%;
                    box-sizing: border-box;

                    color: #fff;
                    font-family: Gilroy;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    &::placeholder {
                        color: #505050;
                    }
                }
            }
        }

        &-game {
            width: 100%;
            padding: 32px;
            border-radius: 20px;
            background: #101010;

            &-title {
                color: #fff;
                font-family: Gilroy;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%; /* 28px */
                letter-spacing: 0.28px;
                margin-bottom: 32px;
            }

            &-gap {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            &-block {
                display: flex;
                align-items: flex-end;
                gap: 20px;
            }
            &-label {
                &-title {
                    color: #fff;
                    font-family: Gilroy;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 10px;
                    max-width: 200px;
                }

                &-input {
                    border-radius: 20px;
                    background: #181818;
                    padding: 16px;
                    width: 100%;
                    box-sizing: border-box;

                    color: #fff;
                    font-family: Gilroy;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    &::placeholder {
                        color: #505050;
                    }
                }

                &-textarea {
                    width: 100%;
                    padding: 16px;
                    min-height: 168px;
                    border-radius: 20px;
                    border: none;
                    background: #181818;
                    box-sizing: border-box;
                    resize: none;

                    color: #fff;
                    font-family: Gilroy;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    &::placeholder {
                        color: #505050;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }

            &-file {
                width: 50%;

                &-title {
                    color: #fff;
                    font-family: Gilroy;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 10px;
                }

                &-upload {
                    position: relative;
                    border-radius: 20px;
                    background: #181818;
                    padding: 16px;
                    width: 100%;
                    box-sizing: border-box;

                    &-input {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }

                    &-text {
                        color: #fff;
                        text-align: center;
                        font-family: Gilroy;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }

            &-stream {
                width: 50%;
                &-title {
                    color: #fff;
                    font-family: Gilroy;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 10px;
                }

                &-input {
                    border-radius: 20px;
                    background: #181818;
                    padding: 16px;
                    width: 100%;
                    box-sizing: border-box;

                    color: #fff;
                    font-family: Gilroy;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    &::placeholder {
                        color: #505050;
                    }
                }
            }
        }
    }

    &-submit {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 32px;
        &-button {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 24px 67px;
            border-radius: 20px;
            background: #ffc700;

            max-width: 342px;
            width: 100%;

            color: #181818;
            text-align: center;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            cursor: pointer;
        }

        &-accept {
            display: flex;
            flex-direction: column;
            gap: 15px;

            &-label {
                display: flex;
                align-items: center;
                gap: 8px;

                &-checkbox {
                    min-width: 20px;
                    height: 20px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    background-color: #101010;
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: pointer;

                    &:checked {
                        background-image: url("../../images/icons/accept-order-icon.svg");
                    }
                }

                &-text {
                    color: #fff;
                    font-family: Gilroy;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    &-link {
                        font-weight: 600;
                        color: #ffc700;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .work-us-advantages {
        &-you {
            &-decor {
                margin-top: auto;
            }
        }
        &-our {
            &-content {
                flex-wrap: wrap;
            }
        }
    }

    .work-us-order {
        &-form {
            flex-direction: column;

            &-personal {
                flex-direction: row;
                flex-wrap: wrap;
                max-width: unset;
                gap: 16px;

                &-label {
                    width: calc(50% - 8px);
                }
            }

            &-game {
                box-sizing: border-box;
            }
        }

        &-submit {
            flex-direction: column-reverse;

            &-button {
                justify-content: center;
                max-width: unset;
            }
        }
    }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
    .work-us {
        &-hero {
            &-title {
                font-size: 52px;
            }
        }
    }
    .work-us-advantages {
        &-title {
            font-size: 36px;
        }

        &-block {
            flex-direction: column;
        }
        &-you {
            &-decor {
                margin-top: auto;
            }
            &-content {
                &-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
        &-our {
            &-content {
                flex-wrap: wrap;
            }
        }
    }

    .work-us-order {
        &-title {
            font-size: 52px;
        }
        &-form {
            flex-direction: column;

            &-personal {
                flex-direction: column;
                flex-wrap: wrap;
                max-width: unset;
                gap: 16px;

                &-label {
                    width: calc(100% - 8px);
                }
            }

            &-game {
                box-sizing: border-box;

                &-block {
                    flex-wrap: wrap;
                }

                &-block &-label:nth-child(1) {
                    width: calc(50% - 10px);
                }

                &-block &-label:nth-child(2) {
                    width: calc(50% - 10px);
                }

                &-block &-label:nth-child(3) {
                    width: 100%;
                }
                &-file {
                    width: 100%;
                }

                &-stream {
                    width: 100%;
                }
            }
        }

        &-submit {
            flex-direction: column-reverse;

            &-button {
                justify-content: center;
                max-width: unset;
                padding: 24px 20px;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .work-us {
        &-hero {
            &-title {
                font-size: 40px;
                text-align: center;
            }

            &-second {
                font-size: 24px;
                text-align: center;
            }
        }

        &-advantages {
            font-size: 28px;
            text-align: center;

            &-block {
                flex-direction: column;
            }

            &-our {
                &-content {
                    flex-direction: column;
                }
            }
        }

        &-order {
            &-title {
                font-size: 40px;
                text-align: center;
            }

            &-desc {
                font-size: 18px;
            }

            &-form {
                flex-direction: column;

                &-game {
                    padding: 32px 0;

                    &-block {
                        flex-direction: column;
                        align-items: baseline;
                    }

                    &-label {
                        width: 100%;
                    }

                    &-file {
                        width: 100%;
                    }

                    &-stream {
                        width: 100%;
                    }
                }
            }

            &-submit {
                flex-direction: column-reverse;

                &-button {
                    padding: 24px 20px;
                    justify-content: center;
                }
            }
        }
    }
}
