@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Noto+Sans:wght@300;400;500;600;700&display=swap");

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Regular.eot");
    src: local("Gilroy Regular"), local("Gilroy-Regular"),
        url("../font/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
        url("../font/Gilroy-Regular.woff2") format("woff2"), url("../font/Gilroy-Regular.woff") format("woff"),
        url("../font/Gilroy-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.eot");
    src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../font/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
        url("../font/Gilroy-Bold.woff2") format("woff2"), url("../font/Gilroy-Bold.woff") format("woff"),
        url("../font/Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Black.eot");
    src: local("Gilroy Black"), local("Gilroy-Black"),
        url("../font/Gilroy-Black.eot?#iefix") format("embedded-opentype"),
        url("../font/Gilroy-Black.woff2") format("woff2"), url("../font/Gilroy-Black.woff") format("woff"),
        url("../font/Gilroy-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Light.eot");
    src: local("Gilroy Light"), local("Gilroy-Light"),
        url("../font/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
        url("../font/Gilroy-Light.woff2") format("woff2"), url("../font/Gilroy-Light.woff") format("woff"),
        url("../font/Gilroy-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Semibold.eot");
    src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
        url("../font/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
        url("../font/Gilroy-Semibold.woff2") format("woff2"), url("../font/Gilroy-Semibold.woff") format("woff"),
        url("../font/Gilroy-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Medium.eot");
    src: local("Gilroy Medium"), local("Gilroy-Medium"),
        url("../font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
        url("../font/Gilroy-Medium.woff2") format("woff2"), url("../font/Gilroy-Medium.woff") format("woff"),
        url("../font/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Extrabold.eot");
    src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
        url("../font/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"),
        url("../font/Gilroy-Extrabold.woff2") format("woff2"), url("../font/Gilroy-Extrabold.woff") format("woff"),
        url("../font/Gilroy-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Heavy.eot");
    src: local("Gilroy Heavy"), local("Gilroy-Heavy"),
        url("../font/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"),
        url("../font/Gilroy-Heavy.woff2") format("woff2"), url("../font/Gilroy-Heavy.woff") format("woff"),
        url("../font/Gilroy-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Reaver";
    src: local("Reaver"), local("Reaver"), url("../font/Reaver-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Reaver";
    src: local("Reaver"), local("Reaver"), url("../font/Reaver-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Reaver";
    src: local("Reaver"), local("Reaver"), url("../font/Reaver-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
